/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*Team*/
.team-member {
  margin: 6%;
  text-align: center;
}

.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .team-member img {position:relative; float:left; width:15%; height: auto}
  }
  
  @media only screen and (max-width: 767px) {
  .team-member img {position:relative; float:left; width:30%; height: auto}
  }
/*Emd of Team*/